.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    font-family: helvetica neue;
    color: #fff;
}
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.6em;}
}
@keyframes blinkTextCursor{
  from{border-right: 2px solid rgba(255,255,255,.75);}
  to{border-right: none;}
}

#links{
      margin-top: 12%;
}
#links img{
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

@media(min-width: 0px){
  body{
    background: url(../img/roy-bg3.jpg);
  }
  .line-1{
    font-size: 2.2em;
  }
  #first{
    margin-left:5px;
  }
  #last{
    margin-right: 15px !important;
  }
}

@media(min-width: 650px){
  body{
    background: url(../img/roy-bg6.jpg);
  }
  .line-1{
    font-size: 3.2em;
  }

  #first{
    margin-left: 76px !important;
  }
  #last{
    margin-right: 100px !important;
  }
}