.owl-buttons div:first-child span:before, .owl-buttons div:last-child span:before{
	font-size: 30px;
}

.owl-buttons div:first-child span{
	line-height: 70px !important;
	margin-left: -15px;
}

.owl-buttons div:last-child span{
	line-height: 70px !important;
	margin-right: -15px;
}

.footer-row .col-md-6 h3{
	font-family: Roboto, Georgia, serif;
	font-weight:400;
	border-bottom: 1px solid #676767;
	text-align: left;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-bottom: 4px;
}

.footer-nav{
	text-align: left;
}

.footer-nav .menu-main-menu-container{
	border-bottom:1px solid #676767;
	padding-bottom:7px;
	padding-top:7px;
}

.footer-nav a{
	color: #c7c7c7;
	transition: .25s;
	-webkit-transition: .25s;
	
}
.footer-nav a:visited {
    //color: #373737;
}
.footer-nav a:hover{
	color: #8b0d19;
	text-decoration: none;
}

.footer-text{
	color: white;
	font-family: Roboto, Georgia, serif;
	font-size: 1rem;
    font-weight: 400;
	text-align: left;
}