.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    font-weight: 900;
    font-family: helvetica neue;
    color: #fff;
}
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.6em;}
}
@keyframes blinkTextCursor{
  from{border-right: 2px solid rgba(255,255,255,.75);}
  to{border-right: none;}
}

.music-item{
  /*font-family: 'Source Code Pro';*/
  font-size: 1em;
  position: relative;
}

.music-item svg{
    width: 0.67em !important;
    margin-right: 15px;
}

.music-item span{
  font-size: 0.75em;
  position: absolute;
  right: 0;
  bottom: 0;
}


#music-right a, #music-left a, #music-right a:hover, #music-left a:hover{
  text-decoration: none;
}

.music-item:hover{
  color:#ffffff91;
 }

#links{
  margin-top:22px;
}
#links a img{
    width: 26px;
    margin-right: 16px;
    margin-left: 16px;
}

iframe{

  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 1s ease;
}

iframe:hover{
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}



@media(min-width: 768px){
  /*change to col-12, col-0, col-12*/
  /*add padding on left and right edges*/
}


@media(min-width: 992px){
  /*change to col-5, col-1, col-5*/
}

































