#tickets-link{
	color:#fff;
	font-size: 26px;
	font-weight: 500;
}

body{
	background-color: #efc9eb !important;	/*f3d55e*/
}

@media(min-width: 0px){
	#flyers img{
		width:85%;
		height:85%;
	}
}

@media(min-width: 650px){
	#flyers img{
		width:75%; 	/*45%*/
	}
}