#tickets-link{
	color:#fff;
	font-weight: 500;
	letter-spacing: 1px;
}

body{
	background-color: #efc9eb !important;	/*f3d55e*/
}

@media(min-width: 0px){
	#flyers img{
		width:60%;
		height:75%;
	}
	#tix{
		margin-top: 20px;
	}
	#tickets-link{
		font-size: 30px;
	}
}

@media(min-width: 650px){
	#flyers img{
		width:75%; 
		height:75%; 
	}
	#tix{
		margin-top: 70px;
	}
	#tickets-link{
		font-size: 36px;
	}
}