html, body{
    height:100%;
    font-family: "Helvetica Neue", Arial !important;
    color: #fff;
    background-color: #000 !important; 
}
p{
  color: #fff;
}
a, a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

#main-icon{
    width: 9%;
    position: absolute;
    margin: 19px;
    z-index: 5;
    margin-left: 40px;
    opacity: 0.9;
}

/*background video*/
#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
  }

/*clickable areas*/
#block{
	background-image:url("../img/shirt-borders.png");
	background-size:97% 97%;
	background-repeat: no-repeat;
    width: 85%;
    opacity: 0.5;
    padding-top: 45%;
    padding-bottom: 45%;
    margin-top: 21%;
    margin-right: 3%;
	cursor: pointer;
	transition: opacity .2s;
	
}

#block:hover{
	opacity: 0.8;
}


#block2{
  background-image:url("../img/tv-borders.png");
  background-size:97% 97%;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding-top: 28%;
  padding-bottom: 28%;
  margin-left: -8%;
  margin-top: 31%;
  width: 55%;
  cursor: pointer;
  transition: opacity .2s;
}

#block2:hover{
	opacity: 0.8;
}

