html, body{
    height:100%;
    font-family: "Helvetica","Helvetica Neue", Arial !important;
    color: #fff;
    background-color: #000 !important; 
}
p{
  color: #fff;
}
a, a:hover {
    text-decoration: none !important;
    color: #fff !important;
}


/* HOME PAGE */

#main-icon{
    width: 9%;
    position: absolute;
    margin: 19px;
    z-index: 6;
    margin-left: 40px;
    opacity: 0.9;
}

/* added overlay so user can zoom in on screen on mobile */
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    display: block;
}

/*background video*/
#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
  }

/*clickable areas*/
@media(min-width: 0px){
  #block{
    opacity: 0.8;
  }
  #block2{
    opacity: 0.9;
  }
}

@media(min-width: 500px){
  #block{
    opacity: 0.0;
  }
  #block2{
    opacity: 0.0;
  }
}

#block{
	background-image:url("../img/shirt-borders.png");
	background-size:97% 97%;
	background-repeat: no-repeat;
  width: 85%;
  padding-top: 45%;
  padding-bottom: 45%;
  margin-top: 21%;
  margin-right: 3%;
	cursor: pointer;
	transition: opacity .2s;
  z-index: 5;
	
}

#block:hover{
	opacity: 0.8;
}

#block2{
  background-image:url("../img/tv-border-3.png");
  background-size:97% 97%;
  background-repeat: no-repeat;
  padding-top: 28%;
  padding-bottom: 28%;
  margin-left: -8%;
  margin-top: 31%;
  width: 55%;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 5;
}

#block2:hover{
	opacity: 0.9;
}


/* SHOP PAGE */
#shop-icon{
  width:90%;
  display: block;
  margin: 0 auto;
}

.shop-text{
  text-align: center;
  text-shadow: 3px 3px #333;
}

#shirt-img{
  width: 80%;
  margin-top: 30px;
  display: block;
  margin: 0 auto;
}

#payments{
  width: 90%;
  margin-top: 60px;
}



#product-component-a89fcfb0e82{
  max-width: 100% !important;
}

@media(min-width: 0px){
  
}
@media(min-width: 576px){
  #product-component-a89fcfb0e82{
    transform: scale(1.2);
    margin-left: 60px;
    margin-right: 20px;
  }
}
@media(min-width: 768px){
  #product-component-a89fcfb0e82{
    transform: scale(1.5);
    margin-left: 130px;
    margin-right: 120px;
  }
}
@media(min-width: 992px){
  #product-component-a89fcfb0e82{
    transform: scale(1.7);
    margin-left: 240px;
    margin-right: 200px;
  }
}
@media(min-width: 1200px){
  #product-component-a89fcfb0e82{
    transform: scale(1.9);
    margin-left: 340px;
    margin-right: 280px;
  }
}

/*@ 1200, 992, 768, 576, ... mobile stuff */















