html, body{
    height:100%;
    font-family: "Helvetica Neue", Arial !important;
    color: #fff;
    background-color: #000 !important; 
}
p{
  color: #fff;
}
a, a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

#main-icon{
    width: 9%;
    position: absolute;
    margin: 19px;
    z-index: 5;
    margin-left: 40px;
    opacity: 0.9;
}

/* added overlay so user can zoom in on screen on mobile */
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    display: block;
}

/*background video*/
#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
  }

/*clickable areas*/
@media(min-width: 0px){
  #block{
    opacity: 0.8;
  }
  #block2{
    opacity: 0.9;
  }
}

@media(min-width: 500px){
  #block{
    opacity: 0.0;
  }
  #block2{
    opacity: 0.0;
  }
}

#block{
	background-image:url("../img/shirt-borders.png");
	background-size:97% 97%;
	background-repeat: no-repeat;
  width: 85%;
  padding-top: 45%;
  padding-bottom: 45%;
  margin-top: 21%;
  margin-right: 3%;
	cursor: pointer;
	transition: opacity .2s;
  z-index: 5;
	
}

#block:hover{
	opacity: 0.8;
}

#block2{
  background-image:url("../img/tv-border-3.png");
  background-size:97% 97%;
  background-repeat: no-repeat;
  padding-top: 28%;
  padding-bottom: 28%;
  margin-left: -8%;
  margin-top: 31%;
  width: 55%;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 5;
}

#block2:hover{
	opacity: 0.9;
}

